---
import AppShell from "../layouts/AppShell.astro";
import {
  AvContainer,
  AvCard,
  AvBrand,
  AvInput,
  AvButton,
  AvCheckbox
} from "@ansiversa/components";
---

<AppShell title="Login">

  <AvContainer class="mt-10">
    <AvCard class="max-w-md mx-auto">
      <div class="flex justify-center mb-6">
        <AvBrand />
      </div>

      <form class="space-y-4">
        <AvInput name="email" type="email" placeholder="Email" />
        <AvInput name="password" type="password" placeholder="Password" />

        <div class="flex justify-between items-center">
          <AvCheckbox label="Remember me" />
        </div>

        <AvButton type="submit" class="w-full">Sign In</AvButton>
      </form>
    </AvCard>
  </AvContainer>

</AppShell>
